.body {
  background-color: #f9f9f9;
  padding-top: 5vh;
  padding-bottom: 10vh;
}

.first_text {
  font-weight: 700;
  text-align: center;
  color: #262626;
}

.second_text {
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  color: #606060;
}
.second_text1 {
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  color: #606060;
}
.imageDiv {
  display: grid;
  margin-top: 10vh;
  justify-items: center;
}
.image {
  margin: 0 auto;
  width: 50%;
}
@media only screen and (min-width: 768px) {
  .first_text {
    font-size: 50px;
  }
  .second_text {
    font-size: 30px;
  }
  .second_text1 {
    font-size: 1.5em;
  }
  .imageDiv {
    display: grid;
    margin-top: 10vh;
    justify-items: center;
  }
  .image {
    margin: 0 auto;
    width: 60%;
  }
  .text {
    width: 45%;
    margin-top: 8vh;
    text-align: center;
    color: #262626;
    font-weight: 400;
  }
  .boldText {
    color: #407bff;
    font-weight: 500;
  }
  .line {
    background-color: #747070;
    height: 3px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5vh;
    margin-top: 5%;
  }
  .sponsers {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
    margin-top: 2%;
    align-items: center;
    margin-bottom: 10vh;
  }
  .emptyBox {
    background-color: #d9d9d9;
    width: 5vw;
    height: 7vh;
  }
  .icon {
    display: flex;
  }
  .icon1 {
    display: none;
  }
  .flash {
    margin-top: 1vh;
  }
  .sponsers1{
    display: none;
  }
}

/* @media only screen and (max-width: 768px) and (min-width: 400px) {
  .first_text {
    font-size: 40px;
  }
  .second_text {
    font-size: 20px;
  }
  .imageDiv {
    display: grid;
    margin-top: 10vh;
    justify-items: center;
  }
  .image {
    margin: 0 auto;
    width: 80%;
  }
  .text {
    width: 70%;
    margin-top: 8vh;
    text-align: center;
    color: #262626;
    font-weight: 400;
  }
  .boldText {
    color: #407bff;
    font-weight: 500;
  }
  .line {
    background-color: #747070;
    height: 3px;
    width: 80%;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 5vh;
  }
  .sponsers {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
    margin-top: 2%;
    align-items: center;
  }
  .emptyBox {
    background-color: #d9d9d9;
    width: 5vw;
    height: 4vh;
  }
  .icon1 {
    display: none;
  }
  .icon {
    display: flex;
  }
} */

@media only screen and (max-width: 768px) {
  .first_text {
    font-size: 25px;
  }
  .second_text {
    font-size: 13px;
  }
  .imageDiv {
    display: grid;
    margin-top: 10vh;
    justify-items: center;
  }
  .image {
    margin: 0 auto;
    width: 90%;
  }
  .text {
    width: 80%;
    font-size: 0.8em;
    margin-top: 8vh;
    text-align: center;
    color: #262626;
    font-weight: 400;
  }
  .boldText {
    color: #407bff;
    font-weight: 500;
  }
  .line {
    background-color: #747070;
    height: 2px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5vh;
    margin-top: 10%;
  }
  .sponsers1 {
    width: 10%;
    margin: 0 auto;
    margin-top: 2%;
    align-items: center;
  }
  /* .emptyBox {
    background-color: #d9d9d9;
    width: 80%;
    height: 7vh;
  } */
  .icon {
    display: none;
  }
  .icon1 {
    display: flex;
  }
  .flash {
    margin-top: 5%;
  }
  .sponsers{
    display: none;
  }
}
