.body {
  background-color: #f9f9f9;
  padding-top: 5vh;
  padding-bottom: 10vh;
}

.first_text {
  font-weight: 700;
  text-align: center;
  color: #262626;
}

.second_text {
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  color: #606060;
}
.imageDiv{
  display: grid;
  margin-top: 10vh;
  justify-items: center;
}
.image{
  margin: 0 auto;
  width: 50%;
}
@media only screen and (min-width: 768px) {
  .first_text {
    font-size: 50px;
  }
  .second_text {
    font-size: 30px;
    width: 696px;
  }
  .imageDiv{
    display: grid;
    margin-top: 10vh;
    justify-items: center;
  }
  .image{
    margin: 0 auto;
    width: 60%;
  }
  .text{
    width: 45%;
    margin-top: 8vh;
    text-align: center;
    color: #262626;
    font-weight: 400;
  }
  .boldText{
    color: #407BFF;
    font-weight: 500;
  }
}

@media only screen and (max-width: 768px) and (min-width: 400px) {
  .first_text {
    font-size: 40px;
  }
  .second_text {
    font-size: 20px;
    width: 500px;
  }
  .imageDiv{
    display: grid;
    margin-top: 10vh;
    justify-items: center;
  }
  .image{
    margin: 0 auto;
    width: 80%;
  }
  .text{
    width: 70%;
    margin-top: 8vh;
    text-align: center;
    color: #262626;
    font-weight: 400;
  }
  .boldText{
    color: #407BFF;
    font-weight: 500;
  }
}

@media only screen and (max-width: 400px) {
  .first_text {
    font-size: 25px;
  }
  .second_text {
    font-size: 13px;
    width: 350px;
  }
  .imageDiv{
    display: grid;
    margin-top: 10vh;
    justify-items: center;
  }
  .image{
    margin: 0 auto;
    width: 90%;
  }
  .text{
    width: 80%;
    font-size: 0.8em;
    margin-top: 8vh;
    text-align: center;
    color: #262626;
    font-weight: 400;
  }
  .boldText{
    color: #407BFF;
    font-weight: 500;
  }
}
