.body {
  background-color: #f9f9f9;
  padding-top: 5vh;
  padding-bottom: 10vh;
}

.first_text {
  font-weight: 700;
  text-align: center;
  color: #262626;
}
.second_text {
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  color: #606060;
  margin-bottom: 5%;
}
.grid {
  display: grid;
  margin: 0 auto;
  justify-content: center;
  justify-items: center;
  margin-bottom: 5vh;
}
.secondGrid {
  background: linear-gradient(to bottom, #6d37ff, #0c0ce9);
  background: -webkit-linear-gradient(top, #6d37ff, #0c0ce9);
  background: -moz-linear-gradient(top, #6d37ff, #0c0ce9);
  background: -o-linear-gradient(top, #6d37ff, #0c0ce9);
}
.button:hover {
  background-color: #D87B26 !important;
  color: #050505;
}

@media only screen and (min-width: 768px) {
  .first_text {
    font-size: 50px;
  }
  .second_text {
    font-size: 30px;
    width: 696px;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
    width: 60%;
    grid-gap: 18%;
  }
  .image {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  .title {
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 5vh;
  }
  .title1 {
    font-size: 1.5em;
    font-weight: 700;
    /* margin-top: 5vh; */
  }
  .description {
    font-size: 1em;
    color: #606060;
    margin-bottom: 5vh;
  }
  .line {
    background-color: #747070;
    height: 3px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5vh;
  }
  .secondGrid {
    width: 70%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 3fr 4fr;
    padding: 1em;
  }
  .belowImage {
    margin-left: 40%;
    height: 100%;
    width: 40%;
  }
  .form {
    width: 50%;
    display: grid;
    justify-content: center;
    justify-items: center;
  }
  .input {
    background-color: transparent;
    border: 3px solid transparent;
    border-bottom: 3px solid white;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: white;
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 1vh;
  }
  .input::placeholder {
    color: white;
  }
  .input:focus {
    background-color: transparent;
    border: 3px solid white;
    color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .button {
    background-color: #D87B26;
    color: #050505;
    border-radius: 80px;
    width: 110%;
    margin: 0 auto;
    margin-left: -5%;
    font-size: 20px;
    font-weight: 700;
    border: none;
    margin-top: 2vh;
  }
}

@media only screen and (max-width: 768px) and (min-width: 400px) {
  .first_text {
    font-size: 40px;
  }
  .second_text {
    font-size: 20px;
    width: 500px;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
    width: 95%;
    grid-gap: 15px;
  }
  .image {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  .title {
    font-size: 24px;
    font-weight: 700;
    margin-top: 2vh;
  }
  .title1 {
    font-size: 24px;
    font-weight: 700;
    /* margin-top: 5vh; */
  }
  .description {
    font-size: 14px;
    color: #606060;
    margin-bottom: 5vh;
  }
  .line {
    background-color: #747070;
    height: 3px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5vh;
  }
  .secondGrid {
    width: 90%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 3fr 4fr;
    padding: 1em;
  }
  .belowImage {
    margin-left: 20%;
    height: 100%;
    width: 70%;
  }
  .form {
    width: 80%;
    display: grid;
    justify-content: center;
    justify-items: center;
  }
  .input {
    background-color: transparent;
    border: 3px solid transparent;
    border-bottom: 3px solid white;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: white;
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 1vh;
  }
  .input::placeholder {
    color: white;
  }
  .input:focus {
    background-color: transparent;
    border: 3px solid white;
    color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .button {
    background-color: #D87B26;
    color: #050505;
    border-radius: 80px;
    width: 110%;
    margin: 0 auto;
    margin-left: -5%;
    font-size: 20px;
    font-weight: 700;
    border: none;
    margin-top: 2vh;
  }
}

@media only screen and (max-width: 400px) {
  .first_text {
    font-size: 25px;
  }
  .second_text {
    font-size: 13px;
    width: 350px;
  }
  .grid {
    grid-template-columns: 1fr;
    width: 70%;
    grid-gap: 10vh;
    margin-bottom: 2vh;
  }
  .image {
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  .title {
    font-size: 1em;
    font-weight: 700;
    margin-top: 2vh;
  }
  .title1 {
    font-size: 1em;
    font-weight: 700;
  }
  .description {
    font-size: 14px;
    color: #606060;
    margin-bottom: 5vh;
  }
  .line {
    background-color: #747070;
    height: 3px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5vh;
  }
  .secondGrid {
    width: 85%;
    display: grid;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
    padding: 1em;
    border-radius: 15px;
  }
  .belowImage {
    height: 100%;
    width: 45%;
  }
  .form {
    width: 90%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    justify-items: center;
  }
  .input {
    background-color: transparent;
    border: 3px solid transparent;
    border-bottom: 3px solid white;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: white;
    font-size: 0.9em;
    font-weight: 700;
    margin-bottom: 0.5vh;
  }
  .input::placeholder {
    color: white;
  }
  .input:focus {
    background-color: transparent;
    border: 3px solid white;
    color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .button {
    background-color: #D87B26;
    color: #050505;
    border-radius: 80px;
    width: 110%;
    margin: 0 auto;
    margin-left: -5%;
    font-size: 0.9em;
    font-weight: 700;
    border: none;
    margin-top: 2vh;
  }
}
