.body {
  background-color: #f9f9f9;
  padding-top: 5vh;
  padding-bottom: 10vh;
}

.first_text {
  font-weight: 700;
  text-align: center;
  color: #262626;
}

.second_text {
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  color: #606060;
}
.grid {
  display: grid;
  margin: 0 auto;
  justify-content: center;
  justify-items: center;
}
.card {
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-color: #ffffff;
  position: relative;
  border-radius: 10px;
}
.svg {
  margin-bottom: 4vh;
  position: absolute;
  left: 20px;
  top: 20px;
}
.cardText {
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  color: #08090a;
  margin-bottom: 10px;
}

@media only screen and (min-width: 900px) {
  .first_text {
    font-size: 50px;
  }
  .second_text {
    font-size: 30px;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
    width: 70vw;
    grid-gap: 50px;
    margin-top: 10vh;
  }
  .card {
    width: 80%;
    height: 100%;
    padding: 20px;
    padding-top: 80px;
  }
}

@media only screen and (max-width: 900px) and (min-width: 500px) {
  .first_text {
    font-size: 40px;
  }
  .second_text {
    font-size: 20px;
  }
  .grid {
    grid-template-columns: 1fr;
    width: 80%;
    grid-gap: 30px;
    margin-top: 10vh;
  }
  .card {
    width: 80%;
    height: 100%;
    padding: 20px;
    padding-top: 80px;
  }
}
@media only screen and (max-width: 500px) and (min-width: 450px) {
  .first_text {
    font-size: 25px;
  }
  .second_text {
    font-size: 13px;
  }
  .grid {
    grid-template-columns: 1fr;
    width: 70%;
    grid-gap: 30px;
    margin-top: 3vh;
  }
  .card {
    width: 80%;
    height: 100%;
    padding: 7%;
    padding-bottom: 5%;
    padding-top: 10%;
  }
  .cardText {
    font-size: 115%;
    font-weight: bolder;
    /* height: 30px; */
    color: #08090a;
    margin-bottom: 0% !important;
  }
  .card{
    font-size: 10px;
  }
}
@media only screen and (max-width: 450px) and (min-width: 400px) {
  .first_text {
    font-size: 25px;
  }
  .second_text {
    font-size: 13px;
  }
  .grid {
    grid-template-columns: 1fr;
    width: 80%;
    grid-gap: 30px;
    margin-top: 3vh;
  }
  .card {
    width: 80%;
    height: 100%;
    padding: 7%;
    padding-bottom: 5%;
    padding-top: 10%;
  }
  .cardText {
    font-size: 115%;
    font-weight: bolder;
    /* height: 30px; */
    color: #08090a;
    margin-bottom: 0% !important;
  }
  .card{
    font-size: 10px;
  }
}

@media only screen and (max-width: 400px) and (min-width: 350px) {
  .first_text {
    font-size: 25px;
  }
  .second_text {
    font-size: 13px;
  }
  .grid {
    grid-template-columns: 1fr;
    width: 80%;
    grid-gap: 30px;
    margin-top: 3vh;
  }
  .card {
    width: 86%;
    /* height: 100%; */
    padding: 8%;
    padding-bottom: 5%;
    padding-top: 10%;
  }
  .cardText {
    font-size: 115%;
    font-weight: bolder;
    /* height: 30px; */
    color: #08090a;
    margin-bottom: 0% !important;
  }
  .card{
    font-size: 10px;
  }
}

@media only screen and (max-width: 350px) {
  .first_text {
    font-size: 25px;
  }
  .second_text {
    font-size: 13px;
  }
  .grid {
    grid-template-columns: 1fr;
    width: 90%;
    grid-gap: 30px;
    margin-top: 3vh;
  }
  .card {
    width: 80%;
    height: 100%;
    padding: 5%;
    padding-bottom: 5%;
    padding-top: 10%;
  }
  .cardText {
    font-size: 115%;
    font-weight: bolder;
    /* height: 30px; */
    color: #08090a;
    margin-bottom: 0% !important;
  }
  .card{
    font-size: 10px;
  }
}
